@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /*  Primary color */
  --primary: 255 77 48; /* RGB only */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /*  expose primary to Tailwind */
  --color-primary: rgb(var(--primary));

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    /*  Dark mode primary */
    --primary: 255 42 0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
